{% extends "restaurant/base.html" %}
{% load static %}
{% block title %}Edigar Menu{% endblock title %}

{% block body %}
<div class="container py-2">
    <div class="row justify-content-center align-items-center">
      <!-- Columna 1: Formulario -->
      <div class="col-12 col-md-6 mb-4">
        <h3 class="mb-4 text-center text-bg-info">Editar Menu</h3>
        <form action="", method="post" >
            <input type="hidden">
            {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Editar Menu</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{menu.platoMenu}}">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Editar Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" value="{{menu.precioMenu}}">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Editar Detalle</label>
            <input type="text" class="form-control" id="detalle" name="detalle"  value="{{menu.descripcionMenu}}">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Editar Imagen</label>
            <input type="text" class="form-control" id="imagen" name="imagen" value="{{menu.imagenMenu}}">
          </div>
          <a href="{% url "tabla_menu" %}">
            <button type="submit" class="btn btn-primary">Editar Menu</button>
          </a>
        </form>
      </div>
      
      <!-- Columna 2: Imagen -->
      <div class="col-12 col-md-6 text-center">
        <img src="{% static "/img/logo.jpg" %}" width="400px" class="img-fluid rounded shadow" alt="Restaurante">
      </div>
  
    </div>
  </div>
  
{% endblock body %}



